In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [4]:
df.drop(columns=['User_ID','Browser_Used','Device_Used'],inplace=True)

In [5]:
df.head()

                                         Description Is_Response
0  The room was kind of clean but had a VERY stro...   not happy
1  I stayed at the Crown Plaza April -- - April -...   not happy
2  I booked this hotel through Hotwire at the low...   not happy
3  Stayed here with husband and sons on the way t...       happy
4  My girlfriends and I stayed here to celebrate ...   not happy

In [6]:
import re

def remove_tags(text):

    return re.compile( r'<[^>]+>').sub(' ', text)

def remove_num(text):

    return ''.join(re.sub(r'([0â€“9+])',' ',text))

In [7]:
final_df=df.copy()

In [8]:
final_df['Description']=final_df['Description'].apply(lambda x:remove_tags(x))

In [9]:
final_df['Description']=final_df['Description'].apply(lambda x:remove_num(x))

In [10]:
final_df.head()

                                         Description Is_Response
0  The room was kind of clean but had a VERY stro...   not happy
1  I stayed at the Crown Plaza April -- - April -...   not happy
2  I booked this hotel through Hotwire at the low...   not happy
3  Stayed here with husband and sons on the way t...       happy
4  My girlfriends and I stayed here to celebrate ...   not happy

In [11]:


def remove_special_chars(text):

    return "".join(re.sub('[^a-zA-Z]',' ',text))

In [12]:
final_df['Description']=final_df['Description'].apply(lambda x:remove_special_chars(x))

In [13]:
final_df.head()

                                         Description Is_Response
0  The room was kind of clean but had a VERY stro...   not happy
1  I stayed at the Crown Plaza April      April  ...   not happy
2  I booked this hotel through Hotwire at the low...   not happy
3  Stayed here with husband and sons on the way t...       happy
4  My girlfriends and I stayed here to celebrate ...   not happy

In [14]:
final_df['Is_Response'].replace({'not happy':0,'happy':1},inplace=True)

In [15]:
final_df

                                             Description  Is_Response
0      The room was kind of clean but had a VERY stro...            0
1      I stayed at the Crown Plaza April      April  ...            0
2      I booked this hotel through Hotwire at the low...            0
3      Stayed here with husband and sons on the way t...            1
4      My girlfriends and I stayed here to celebrate ...            0
...                                                  ...          ...
38927  We arrived late at night and walked in to a ch...            1
38928  The only positive impression is location and p...            0
38929  Traveling with friends for shopping and a show...            0
38930  The experience was just ok  We paid extra for ...            0
38931  The Westin is a wonderfully restored grande da...            1

[38932 rows x 2 columns]

In [16]:

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,LSTM,Embedding,Dropout
from tensorflow.keras.utils import pad_sequences

In [17]:
tokenizer=Tokenizer(num_words=5000,filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n',
    lower=True,
    split=' ')

In [18]:
tokenizer.fit_on_texts(df['Description'])

In [19]:
X = tokenizer.texts_to_sequences(final_df['Description'])

In [21]:
X = pad_sequences(X,maxlen=120)

In [22]:
X[500]

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,   26,  299,    2,    6,   49,    7,    3,
        421,   14,   21,    3,  541,   71,   13,  894,    3,   22, 1037,
         12,   21,  135, 2132, 2610,    4,    1,  181,   63,    6,    5,
          3,  507,    7,   28,   14,    2,    6,  755,    1,   12,   33,
          3,  531,    6,   56,  471,  373,    3,  111,   88,   11,    3,
         12,   21,  384,    3,  284, 1213,   13,  894,    3,  111,  101,
         32,    1,  124,  119,  650,   51,   95,  194,   70, 1319,    7,
          1, 1266,  489,    6,  291,    1,   12, 2565,  121,   88])

In [23]:
y=final_df['Is_Response'].values

In [24]:
y

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [25]:
len(tokenizer.word_index)

50578

In [26]:
voc_size=len(tokenizer.word_index)+1

In [27]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [30]:
model=Sequential()

model.add(Embedding(voc_size,50,input_length=120))
model.add(Dropout(0.4))
model.add(LSTM(150))
model.add(Dropout(0.4))
model.add(Dense(1,activation='sigmoid'))

model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 120, 50)           2528950

 dropout_2 (Dropout)         (None, 120, 50)           0

 lstm_1 (LSTM)               (None, 150)               120600

 dropout_3 (Dropout)         (None, 150)               0

 dense_1 (Dense)             (None, 1)                 151

=================================================================
Total params: 2,649,701
Trainable params: 2,649,701
Non-trainable params: 0
_________________________________________________________________

In [31]:
history=model.fit(X_train, y_train, batch_size=32, epochs=10, validation_data=(X_test, y_test) )

Epoch 1/10
852/852 [==============================] - 122s 141ms/step - loss: 0.4294 - accuracy: 0.8068 - val_loss: 0.3622 - val_accuracy: 0.8485
Epoch 2/10
852/852 [==============================] - 170s 200ms/step - loss: 0.3244 - accuracy: 0.8693 - val_loss: 0.3486 - val_accuracy: 0.8489
Epoch 3/10
852/852 [==============================] - 141s 165ms/step - loss: 0.2912 - accuracy: 0.8838 - val_loss: 0.3817 - val_accuracy: 0.8521
Epoch 4/10
852/852 [==============================] - 136s 159ms/step - loss: 0.2587 - accuracy: 0.8993 - val_loss: 0.3531 - val_accuracy: 0.8559
Epoch 5/10
852/852 [==============================] - 139s 164ms/step - loss: 0.2438 - accuracy: 0.9043 - val_loss: 0.3592 - val_accuracy: 0.8541
Epoch 6/10
852/852 [==============================] - 187s 220ms/step - loss: 0.2211 - accuracy: 0.9149 - val_loss: 0.3745 - val_accuracy: 0.8505
Epoch 7/10
852/852 [==============================] - 121s 142ms/step - loss: 0.2037 - accuracy: 0.9213 - val_loss: 0.4180 - val_accuracy: 0.8528
Epoch 8/10
852/852 [==============================] - 111s 130ms/step - loss: 0.1883 - accuracy: 0.9279 - val_loss: 0.4122 - val_accuracy: 0.8486
Epoch 9/10
852/852 [==============================] - 110s 129ms/step - loss: 0.1745 - accuracy: 0.9351 - val_loss: 0.4072 - val_accuracy: 0.8479
Epoch 10/10
852/852 [==============================] - 113s 133ms/step - loss: 0.1599 - accuracy: 0.9415 - val_loss: 0.4211 - val_accuracy: 0.8372

In [32]:
model.evaluate(X_test,y_test)

365/365 [==============================] - 8s 21ms/step - loss: 0.4211 - accuracy: 0.8372

[0.4210612177848816, 0.8371575474739075]

In [45]:
test="Everything ! The place is horrendous and disgustingâ€¦ Iâ€™m surprised they even have a business .. nothing seems up to code for 95$. There was blood on the sheets!"

test1="Great location, really pleasant and clean rooms, but the thing that makes this such a good place to stay are the staff. All of the people are incredibly helpful and generous with their time and advice. We travelled with two six year olds and lots of luggage and despite the stairs up to the elevator this was one of the nicest places we stayed in the four weeks we were in Europe."

In [46]:
test2="The room smelled like cigarette smoke, the shower was disgusting, the toilet had cigarette ashes, the bed sheets were stained, the towels were stained, the floor felt greasy, the mirror was dirty and the overall hotel was very dirty."

In [49]:
test3=" had a wonderful experience at the (HN). Every staff member I encountered, from the valet to the check- in to the cleaning staff were delightful and eager to help! Thank you! Will recommend to my colleagues!"

In [50]:
tokenizer.fit_on_texts([test3])
X_sample = tokenizer.texts_to_sequences([test3])
X_sample = pad_sequences(X_sample,maxlen=120)

y_pred=model.predict(X_sample)

1/1 [==============================] - 0s 20ms/step

In [51]:
if y_pred[0]>0.5:
    print("The review is Positive")
else:
    print("The review is Negetive")

The review is Positive